# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales o de respaldo
*.tmp
*.bak
*.swp

# Configuraciones de editor
.vscode/
.idea/

# Archivos generados por procesadores de texto
~$*

# Archivos de logs o exportaciones temporales
*.log

# Archivos de LibreOffice o similares
*.lock


# Laravel specific
/bootstrap/cache/
/storage/framework/
/storage/logs/*.log
/public/storage
/.phpunit.cache