{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

   <div class="card-body">

       <h3>
           ¿Desea eliminar este producto?
       </h3>

       <hr>

       <p>
           <strong>
               {{ producto.nombre }}
           </strong>
       </p>

       <form method="POST">

           {% csrf_token %}

           <button type="submit"
                   class="btn btn-danger">

               Sí, eliminar

           </button>

           <a href="{% url 'lista_productos' %}"
              class="btn btn-secondary">

               Cancelar

           </a>

       </form>

   </div>

</div>

{% endblock %}
