<html lang="en">

<head>
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'inicio' %}" aria-current="page">Inicio</a>

            <a class="nav-item nav-link active" href="{% url 'hojas' %}" aria-current="page">Hojas</a>

            <a class="nav-item nav-link active" href="{% url 'nosotros' %}" aria-current="page">Nosotros</a>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col-12">
                <br>
                {% block contenido %} {% endblock %}
            </div>
        </div>
    </div>
</body>    
</html>